*{
      margin:0;
      padding:0;
      box-sizing:border-box;
}
body{
      background-color:#fff8e7;
}
.nav{
      display:flex;
      justify-content:space-between;
      align-items:center;
      padding:20px 50px;
}
.nav ul{
      display:flex;
      gap:20px;
      list-style:none;
}
.hero{
      height:80vh;
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
      text-align:center;
}
button{
      padding:10px 20px;
      margin-top:10px;
      transition:0.3s;
}
button:hover{
      cursor:pointer;
      background-color:black;
      color:white;
}